# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/build/
/android/.gradle/
/android/local.properties

# Web related
lib/generated_plugin_registrant.dart

# Platform specific
/android/
!/android/app/
!/android/gradle/
!/android/gradle/wrapper/
!/android/build.gradle
!/android/settings.gradle
!/android/gradle.properties
!/android/app/build.gradle
!/android/app/src/
